.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}

.errormessage {
    position: relative;
    right: -420px;
    top: -10px;
    border: 1px;
    background-color: #010f07;
    color: aliceblue;
    padding: 2px;
    transition: ease-in-out 10s;
}

.screen {
    width: 360px;
    height: 400px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.input_field {
    display: flex;
    flex-direction: column;
    min-width: 300px
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    left: 50px;
}

.login button {
    min-width: 300px;
    border-radius: 20px;
    line-height: 30px;
    background: aquamarine;
}

input {
    border-top: none;
    border-bottom-color: #5ec388;
    border-right: none;
    border-left: none;
}

input:active {
    border-right: none;
    border-left: none;
    border-top: none;
}