/* .container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.screen {
    box-shadow: 0px 0px 7px 0px rgba(243, 240, 240, 0.75);
    width: 360px;
    height: 300px;
    background: linear-gradient(90deg, #5D54A4, #7C78B8);
}

.input-field {
    width: 320px;
    padding: 30px;
} */